.App {
  background-color: #282c34;
  color: white;
  font-size: calc(8px + 2vmin);
}

.algoInList {
  margin: 3px;
  padding: 2px;
  display: inline;
}

.algoName {
  display: inline;
}

.algoState {
  display: inline;
  margin: 1px 20px 1px 20px;
  text-transform: lowercase;
}

.algoButtons {
  display: inline;
  margin: 5px;
}

.productList {
  margin: 1px 1px 1px 40px;
  display: block;
  border-top: 2px solid white;
}

.productRic {
  display: inline;
  margin: 3px;
}

.productState {
  display: inline;
  margin: 5px;
  text-transform: lowercase;
}

.productMessage {
  display: inline;
  margin: 3px;
}

.ordersAndTrades {
  display: inline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
